AZURE_OPENAI_API_KEY =
AZURE_OPENAI_WSS_ENDPOINT = 
AZURE_OPENAI_API_VERSION = 
AZURE_AI_FOUNDRY_ENDPOINT = 
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME = 

AZURE_SEARCH_ENDPOINT = 
AZURE_SEARCH_API_KEY = 
AZURE_SEARCH_INDEX_NAME = 

COSMO_DB_URI = 
COSMO_DB_PRIMARY_KEY =
COSMO_DB_NAME = 
COSMO_DB_CONVERSATIONS_CONTAINER_NAME = 
COSMO_DB_SUPPORT_CONTAINER_NAME = 
COSMO_DB_USER_VEHICLES_CONTAINER_NAME =
